<mat-list>
    <mat-list-item *ngFor="let author of authors">
     <div *ngIf="author.id == id;else other"> <h3 mat-line>{{author}}</h3></div>
      <ng-template #other><h3 mat-line > {{ author.author }}  </h3></ng-template>
      <button>
          <a mat-list-item routerLink="/editauthor/{{author.id}}" routerLinkActive="active">edit</a>
        </button>
    </mat-list-item>

  </mat-list>